SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Products]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10.01.2026 19:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

GO
INSERT [dbo].[Products] ([Id], [Name], [Category], [Price], [IsActive], [CreatedAt]) VALUES (1, N'Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops', N'men''s clothing', CAST(97.86 AS Decimal(18, 2)), 1, CAST(N'2026-01-10 19:31:34.253' AS DateTime))
GO
INSERT [dbo].[Products] ([Id], [Name], [Category], [Price], [IsActive], [CreatedAt]) VALUES (2, N'Mens Casual Premium Slim Fit T-Shirts ', N'men''s clothing', CAST(27.32 AS Decimal(18, 2)), 1, CAST(N'2026-01-10 19:31:34.257' AS DateTime))
GO
INSERT [dbo].[Products] ([Id], [Name], [Category], [Price], [IsActive], [CreatedAt]) VALUES (3, N'Mens Cotton Jacket', N'men''s clothing', CAST(55.99 AS Decimal(18, 2)), 1, CAST(N'2026-01-10 19:31:34.257' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

GO
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [IsActive], [CreatedAt]) VALUES (1, N'demo', N'2A97516C354B68848CDBD8F54A226A0A55B21ED138E207AD6C5CBB9C00AA5AEA', 1, CAST(N'2026-01-08 00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  StoredProcedure [dbo].[sp_Product_Create]    Script Date: 10.01.2026 19:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_Product_Create]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_Product_Create] AS' 
END
GO

ALTER PROCEDURE [dbo].[sp_Product_Create]
	@Name nvarchar(50),
	@Category nvarchar(50),
	@Price decimal(18,2),
	@IsActive bit,
	@CreatedAt datetime
AS
BEGIN
INSERT INTO [dbo].[Products]
           (
            Name,
            Category,
            Price,
            IsActive,
            CreatedAt)
     VALUES
           (
            @Name,
            @Category,
            @Price,
            @IsActive,
            @CreatedAt)
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Product_Delete]    Script Date: 10.01.2026 19:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_Product_Delete]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_Product_Delete] AS' 
END
GO

ALTER PROCEDURE [dbo].[sp_Product_Delete]
    @Id int 
AS
BEGIN
DELETE [dbo].[Products] 
   WHERE           
   Id=@Id   
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Product_Get]    Script Date: 10.01.2026 19:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_Product_Get]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_Product_Get] AS' 
END
GO

ALTER PROCEDURE [dbo].[sp_Product_Get]
    @Id int 
AS
BEGIN
SELECT top 1 * FROM [dbo].[Products] 
   WHERE           
   Id=@Id   
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Product_GetList]    Script Date: 10.01.2026 19:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_Product_GetList]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_Product_GetList] AS' 
END
GO

ALTER PROCEDURE [dbo].[sp_Product_GetList]
 
AS
BEGIN
SELECT * FROM [dbo].[Products] 
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Product_Update]    Script Date: 10.01.2026 19:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_Product_Update]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_Product_Update] AS' 
END
GO

ALTER PROCEDURE [dbo].[sp_Product_Update]
    @Id int,
	@Name nvarchar(50),
	@Category nvarchar(50),
	@Price decimal(18,2),
	@IsActive bit
AS
BEGIN
UPDATE [dbo].[Products] 
    SET           
       Name=@Name,
       Category=@Category,
       Price=@Price,
       IsActive=@IsActive     
	 Where Id=@Id
END

GO
/****** Object:  StoredProcedure [dbo].[sp_User_Create]    Script Date: 10.01.2026 19:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_User_Create]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_User_Create] AS' 
END
GO

ALTER PROCEDURE [dbo].[sp_User_Create] 
    @Username nvarchar(50),
	@PasswordHash nvarchar(MAX),
	@IsActive bit,
	@CreatedAt datetime 
AS
BEGIN
	 INSERT INTO Users(Username,PasswordHash,IsActive,CreatedAt) 
	          VALUES (@Username,@PasswordHash,@IsActive,@CreatedAt)
END

GO
/****** Object:  StoredProcedure [dbo].[sp_User_Delete]    Script Date: 10.01.2026 19:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_User_Delete]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_User_Delete] AS' 
END
GO

ALTER PROCEDURE [dbo].[sp_User_Delete]
    @Id int 
AS
BEGIN
	 UPDATE Users 
	    SET  IsActive=0	
		WHERE Id=@Id			 
END

GO
/****** Object:  StoredProcedure [dbo].[sp_User_Get]    Script Date: 10.01.2026 19:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_User_Get]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_User_Get] AS' 
END
GO

ALTER PROCEDURE [dbo].[sp_User_Get]
    @Id int=null,
	@Username nvarchar(50)=null,
	@PasswordHash nvarchar(MAX)=null,
	@IsActive bit=null,
	@CreatedAt datetime=null
AS
BEGIN          
		SELECT TOP 1 * from Users  
		WHERE 		
		Id in(IIF((@Id  is not null or @Id!=''),@Id,Id)) AND
		Username in(IIF((@Username is not null or @Username!=''),@Username,Username)) AND
		PasswordHash in(IIF((@PasswordHash is not null or @PasswordHash!=''),@PasswordHash,PasswordHash)) AND
		IsActive  in(IIF((@IsActive is not null or @IsActive!=''),@IsActive,IsActive)) AND
		CreatedAt in(IIF((@CreatedAt is not null or @CreatedAt !=''),@CreatedAt,CreatedAt)) 
END

GO
/****** Object:  StoredProcedure [dbo].[sp_User_Update]    Script Date: 10.01.2026 19:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_User_Update]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_User_Update] AS' 
END
GO

ALTER PROCEDURE [dbo].[sp_User_Update]
    @Id int, 
    @Username nvarchar(50),
	@PasswordHash nvarchar(MAX),
	@IsActive bit
AS
BEGIN
	 UPDATE Users 
	         SET Username=@Username,
			     PasswordHash=@PasswordHash,
				 IsActive=@IsActive				 
END

GO
